.profile__title {
  margin: 0 25%;
  flex-basis: 50%;
}

.profile__main-flex {
  display: flex;

}

.profile__flex-item {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.profile__main-flex-inner {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-basis : 50%;
  flex-direction: column;

}


.profile__postCount {
  margin: 0 25%;
  flex-basis: 50%;
}

.profile__button {
  margin: 1% 15%;
  background-color: transparent;

}
.profile__button:hover {
  border: 3px dashed rebeccapurple;
}

.profileFollowers {
  display: none;
}

.profileFollowing {
  display: none;
}

.warning {
  color: red;
}

.loginError {
  display: none;
}

.passwordError {
  display: none;
}
