{
  "users": [
    {
      "id": 1,
      "name": "Ray Medrano",
      "email": "ray@medrano.com",
      "imageURL": "https://avataaars.io/?avatarStyle=Circle&topType=LongHairCurvy&accessoriesType=Wayfarers&hairColor=Blonde&facialHairType=BeardMajestic&facialHairColor=Platinum&clotheType=BlazerShirt&clotheColor=White&eyeType=Hearts&eyebrowType=RaisedExcitedNatural&mouthType=Serious&skinColor=DarkBrown",
      "password": "ray"
    },
    {
      "id": 2,
      "name": "Meg Ducharme",
      "email": "meg@ducharme.com",
      "imageURL": "https://avataaars.io/?avatarStyle=Circle&topType=LongHairBun&accessoriesType=Prescription02&hairColor=BlondeGolden&facialHairType=Blank&facialHairColor=Brown&clotheType=CollarSweater&clotheColor=PastelRed&eyeType=Happy&eyebrowType=DefaultNatural&mouthType=Vomit&skinColor=Yellow",
      "password": "meg"
    },
    {
      "id": 3,
      "name": "Mark Ellis",
      "email": "mark@ellis.com",
      "imageURL": "https://avataaars.io/?avatarStyle=Circle&topType=LongHairMiaWallace&accessoriesType=Blank&hairColor=Blonde&facialHairType=BeardLight&facialHairColor=Brown&clotheType=BlazerShirt&clotheColor=White&graphicType=Pizza&eyeType=Wink&eyebrowType=UpDown&mouthType=Sad&skinColor=Pale",
      "password": "mark"
    }
  ],
  "posts": [
   {
      "id": 1,
      "userId": 1,
      "title": "My first post",
      "imageURL": "https://media.giphy.com/media/3oz8xyUoD2HlTIcdTW/giphy.gif",
      "description": "Jianbing butcher post-ironic brunch marfa, listicle quinoa kickstarter vinyl poke cornhole snackwave yr flexitarian.",
      "timestamp": 1508080619498
    },
    {
      "id": 2,
      "userId": 2,
      "title": "Dinner",
      "imageURL": "https://media.giphy.com/media/4RslNp4SUqAoM/giphy.gif",
      "description": "Messenger bag hella gochujang adaptogen, aesthetic sartorial before they sold out franzen sustainable thundercats.",
      "timestamp": 1497580619498
    },
    {
      "id": 3,
      "userId": 2,
      "title": "Graduation!",
      "imageURL": "https://media.giphy.com/media/lSPlEENLTonvclZP44/giphy.gif",
      "description": "Pop-up biodiesel pickled crucifix. Tousled succulents banjo bicycle rights.",
      "timestamp": 1528720619498
    }
  ],
  "likes": [
    {
      "id": 1,
      "userId": 1,
      "postId": 2
    },
    {
      "id": 2,
      "userId": 3,
      "postId": 2
    },
    {
      "id": 3,
      "userId": 2,
      "postId": 1
    }
  ],
  "messages": [
    {
      "userId": 2,
      "recipientId": 3,
      "text": "Selvage la croix prism truffaut cray offal lumbersexual bespoke skateboard. Next level chia enamel pin, wayfarers copper mug jean shorts leggings.",
      "read": false,
      "id": 1
    },
    {
      "userId": 2,
      "recipientId": 3,
      "text": "Occupy pour-over chambray pitchfork woke vinyl. Drinking vinegar humblebrag banh mi lo-fi fanny pack hella cred 3 wolf moon air plant bitters meggings man braid migas narwhal. Tacos chia neutra, tumeric semiotics raw denim cardigan single-origin coffee health goth mlkshk coloring book vinyl schlitz.",
      "read": false,
      "id": 2
    },
    {
      "userId": 3,
      "recipientId": 3,
      "text": "Poke church-key single-origin coffee art party stumptown hoodie, vice offal. Chambray intelligentsia DIY portland kogi. Meh hexagon pug everyday carry brooklyn poutine knausgaard ugh.",
      "read": false,
      "id": 3
    }
  ],
  "follows": [
    {
      "id": 1,
      "userId": 1,
      "followingId": 2
    },
    {
      "id": 2,
      "userId": 3,
      "followingId": 2
    },
    {
      "id": 3,
      "userId": 2,
      "followingId": 1
    }
  ]
}